@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --san-ramon-blue: #226e93;
;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lato, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--san-ramon-blue);
  font-size: 34pt;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 20px 0 20px 0;
}

footer, .links{
  background: var(--san-ramon-blue);
  color: var(--background);
}

section{
  border-top: 1px solid var(--color-gray-300);;
  width: 100%;
  margin-top: 20px;
}